
a{
    text-decoration: none;
    color: white;
    padding: 24px;
}
a:visited{
    color: #ff3208;
}
.center-text{
    text-align: center;
}

.email{
    color:blue;
    padding:0px;
}
.flex-container{

    display: flex;

    align-items: left;
}
.flex-product-container{
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(211, 206, 246);
    justify-content: center;
}
.flex-product-container > div{
    background-color: #f1f1f1;
    margin: 10px;
    width:300px;
    justify-content: center;
}
.footer {

    background-image: url("./images/texturez_4323.jpg");
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 14px 16px;
}

.footer-grid{

    grid-column-start: 1;
    grid-column-end: 4;
}

.header{
    background-image:url("./images/texturez_4323.jpg");
    height: 250px;
}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #E1E5E9;
    padding: 10px;
}

.grid-item1{
    grid-column-start: 1;
    grid-column-end: 2;
    padding:10px;
}


.grid-item2{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #d3cef6;
    padding:10px;
}

h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: antiquewhite;
    font-size: 78px;
}

.img-container{
    flex-grow: 0;
    margin-left:5%;
    margin-top: 22%;
}

li {
    display:inline;
    font-size: large;
    text-decoration: none;
}

li a:hover{
    background-color:rgb(225, 229, 233);
    color: black;

}

.logo{
    width: 100px;
    height: 100px;
    background-color:#ffffff;

}

.nav-bar{
    border-top: solid 1px blanchedalmond;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(43, 60, 82));
    background-color: #0d0c14;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;

}

p{
    font-family: 'Lato', sans-serif;
}

ul{
    list-style-type: none;
    text-decoration: none;

}
